button{
    padding: 8px;
    margin-bottom: 2px;
    background-color :rgb(178, 201, 245);
}

#btn1-style{
    float:left;
   margin-left: 12px;
}

#btn2-style{
    float:right;
    margin-right: 0px;
}

table { 

}   

