<h1>一周天气信息预报：</h1>
<div #weatherDataChart style="width: 800px;height:400px;"></div>
<div id="btn1-style">
  <button appWeatherButton (click)="weatherDataServ.sortWeatherData('date')">日期排序</button>
  <button appWeatherButton (click)="weatherDataServ.sortWeatherData('temperature')">温度排序</button>
</div>
<div id="btn2-style">
  <button mat-raised-button (click)="openDialog()"><mat-icon>add</mat-icon>
    新增天气预报</button>
</div>
<div tyle="width: 600px;height:400px;">
<table style="width:100%;background-color: #f9f5f58f;margin-bottom: 10px;">
    <thead>
       <tr>
            <th>日期</th>
            <th>星期</th>
            <th>温度</th>
            <th>湿度</th>
            <th>PM值</th>
            <th>天气情况</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let weatherInfo of weatherDataServ.weatherDataList">
                <td>{{weatherInfo.dateInfo}}</td>
                <td>{{weatherInfo.weekInfo}}</td>
                <td>{{weatherInfo.temperature | weather}}</td>
                <td>{{weatherInfo.humidity}}</td>
                <td>{{weatherInfo.pm}}</td>
                <td>{{weatherInfo.status}}</td>
                <td>
                    <mat-icon title="详细" routerLink="/weather-data/{{weatherInfo.objectId}}">menu</mat-icon>
                    <mat-icon title="编辑" (click)="openDialog(weatherInfo)">edit</mat-icon>
                    <mat-icon title="删除" (click)="weatherDataServ.deleteByObjId(weatherInfo.objectId)">delete</mat-icon>
                </td>
            </tr>
    </tbody>

</table>

</div>