button{
    padding: 8px;
    margin-bottom: 2px;
    background-color :rgb(178, 201, 245);
}

#btn1-style{
    float:left;
   margin-left: 12px;
}

#btn2-style{
    float:right;
    margin-right: 0px;
}

tr{
    font-weight: bold;
}
td,th{
    border:1px solid rgba(173, 213, 229, 0.75);padding: 10px;
    text-align: center;
}
th{
    background-color: #2854a7;
}