button{
    padding: 8px;
    margin-bottom: 2px;
    background-color :rgb(178, 201, 245);
}

#sytle1{
    font-size:15px;
    background-color :rgb(0, 255, 234);

    list-style-type:none
}

#sytle2{
    font-size:15px;
    font-style:italic;
}

li{
    list-style-position:inside;padding-left:10px;border:1px dashed #F00;
}