<div class="a" >
<h1 class="b">鲜花列表</h1><br>
<button class="button button2" (click)="flowerServ.sortUsers('asc')">正序</button>
<button class="button button2" (click)="flowerServ.sortUsers('desc')" >倒序</button>
<button class="button button2" (click)="flowerServ.sortUsers('random')">随机</button>
<button class="button button2" (click)="openDialog()">新品鲜花</button>
<br>
<table class="b" width="100%"  border="2" style="margin:10px">
    <tr>
      <th>鲜花ID</th>
      <th>鲜花名</th>
      <th>鲜花花语</th>
      <th>鲜花价格</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let flower of flowerServ.flowers"  appButton>
      <td >{{flower.objectId}}</td>
      <td >{{flower.name}}</td>
      <td >{{flower.language}}</td>
      <td>{{flower.price|toK}}</td>
      <td>
        <div class="button-row">
        <button mat-button (click)="openDialog(flower)">[修改]</button>
        <button mat-button color="primary" routerLink="/flower/{{flower.objectId}}">[查看]</button>
        <button mat-button color="accent" (click)="flowerServ.deleteFlowerByID(flower.objectId)">[删除]</button>
      </div>
    </td>
      
    </tr>
  </table>
</div>