<div class="a" >
<h1 class="a">鲜花列表</h1>
<button class="button button2" (click)="flowerServ.sortUsers('asc')">正序</button>
<button class="button button2" (click)="flowerServ.sortUsers('desc')" >倒序</button>
<button class="button button2" (click)="flowerServ.sortUsers('random')">随机</button>
<button class="button button2" (click)="openDialog()">新品鲜花</button>

<table class="b" width="100%"  border="2" style="margin:10px">
    <tr>
      <th>鲜花ID</th>
      <th>鲜花名</th>
      <th>鲜花花语</th>
      <th>鲜花价格</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let flower of flowerServ.flowers"  appButton>
      <td >{{flower.objectId}}</td>
      <td >{{flower.name}}</td>
      <td >{{flower.language}}</td>
      <td>{{flower.price|toK}}</td>
      <td>
          <mat-icon title="编辑" (click)="openDialog(flower)"><span class="c">[修改]</span></mat-icon>
          <mat-icon title="查看" routerLink="/flower/{{flower.objectId}}"><span class="c">[查看]</span></mat-icon>
          <mat-icon title="删除" (click)="flowerServ.deleteFlowerByID(flower.objectId)"><span class="c">[删除]</span></mat-icon>
    </td>
    </tr>
  </table>
</div>