<div class="a" >
<h1 class="a">鲜花列表</h1>
<h1 button>已选择的鲜花：{{selectedFlower.name}}</h1>
<button class="button button2" (click)="sortUsers('asc')">正序</button>
<button class="button button2" (click)="sortUsers('desc')" >倒序</button>
<button class="button button2" (click)="sortUsers('random')">随机</button>
<button class="button button2" (click)="addNewFlower()">新品鲜花</button>

<table class="b" width="100%"  border="solid" style="margin:10px">
    <tr>
      <th>删除</th>
      <th>鲜花ID</th>
      <th>鲜花名</th>
      <th>鲜花花语</th>
      <th>鲜花价格</th>
    </tr>
    <tr *ngFor="let flower of flowers" (click)="selectFlower(flower)" appButton>
      <td ><span (click)="deleteFlowerByID(flower.id)"><a href="#">[删除]</a></span></td>
      <td >{{flower.id}}</td>
      <td >{{flower.name}}</td>
      <td >{{flower.language}}</td>
      <td>{{flower.price|toK}}</td>
    </tr>
  </table>
</div>