ul li span {
    color: red;
}

ul li {
    color: blue;
}
.a{
    color:pink;
    text-align: center;
}
.c{
    font-size: 14px;
}

.b{
    
    list-style:none;
    border-color: rgb(204, 146, 216);
    border-collapse: collapse;
    color:rgba(105, 42, 42, 0.87);
}
th{
    background-color: #4d70e4;
    text-align: center;
    color: rgba(105, 42, 42, 0.87);
  
}
img{
    width:95px;
    height:95px;
}
td{
    color: 
    rgba(105, 42, 42, 0.87);
}
table{
    border-color: rgb(216, 109, 238);
    width:95%;
}

.button {
    background-color: pink; /* Green */
    border: none;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}