<br>
<div class="col-12">
  <tr>
    <td *ngFor="let marketIndex of marketIndexes" class="col-4 market-index">
      <mat-card>
        <span style="color:#888888">&nbsp;{{marketIndex.name}}</span>
        <span appMarketIndexColor>{{marketIndex.price}}</span>
        <span appMarketIndexColor>&nbsp;{{marketIndex.percent}}%</span>
        <span>&nbsp;{{marketIndex.total|moneyUnit}}</span>
      </mat-card>
    </td>
  </tr>
</div>
<br>
<mat-tab-group class="demo-tab-group">
  <mat-tab label="自选" (click)="getSelectedStockList()">
    <mat-card-content class="col-12">
      <table class="col-12" style="background-color:#d4d4d4;height:32px;">
        <tr class="col-12">
          <th class="col-1" (click)="sortStock('id',true)">股票代码</th>
          <th class="col-1" (click)="sortStock('name',true)">股票名称</th>
          <th class="col-1" (click)="sortStock('startPrice',true)">开盘价</th>
          <th class="col-1" (click)="sortStock('nowPrice',true)">最新价</th>
          <th class="col-1" (click)="sortStock('minPrice',true)">最低价</th>
          <th class="col-1" (click)="sortStock('maxPrice',true)">最高价</th>
          <th class="col-1" (click)="sortStock('volume',true)">成交量</th>
          <th class="col-1" (click)="sortStock('amount',true)">成交金额</th>
          <th class="col-1" (click)="sortStock('marketValue',true)">总市值</th>
          <th class="col-1" (click)="sortStock('circulationValue',true)">流通市值</th>
        </tr>
      </table>
    </mat-card-content>
    <app-eightstock-listitem [stock]="stock" *ngFor="let stock of selectedStocks"></app-eightstock-listitem>
  </mat-tab>
  <mat-tab label="行情">
    <mat-card-content class="col-12">
      <table class="col-12" style="background-color:#d4d4d4;height:32px;">
        <tr class="col-12">
          <th class="col-1" (click)="sortStock('id',false)">股票代码</th>
          <th class="col-1" (click)="sortStock('name',false)">股票名称</th>
          <th class="col-1" (click)="sortStock('startPrice',false)">开盘价</th>
          <th class="col-1" (click)="sortStock('nowPrice',false)">最新价</th>
          <th class="col-1" (click)="sortStock('minPrice',false)">最低价</th>
          <th class="col-1" (click)="sortStock('maxPrice',false)">最高价</th>
          <th class="col-1" (click)="sortStock('volume',false)">成交量</th>
          <th class="col-1" (click)="sortStock('amount',false)">成交金额</th>
          <th class="col-1" (click)="sortStock('marketValue',false)">总市值</th>
          <th class="col-1" (click)="sortStock('circulationValue',false)">流通市值</th>
        </tr>
      </table>
    </mat-card-content>
    <app-eightstock-listitem [stock]="stock" *ngFor="let stock of stocks"></app-eightstock-listitem>
  </mat-tab>
  <mat-tab label="资讯">
    <br>
    <mat-card class="col-12">
      <table class="col-12">
        <tr>
          <td class="col-3" colspan="1" rowspan="4">
            <img mat-card-image class="col-12" src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=b456f3cc800a19d8df0e8c575293e9ee/a08b87d6277f9e2f7fe1b7751f30e924b999f3f3.jpg"
              alt="2017年度基金业绩排行榜出炉！">
          </td>
          <td class="col-9" colspan="1" rowspan="1">2017年度基金业绩排行榜出炉！</td>
        </tr>
        <tr>
          <mat-card-content colspan="1" rowspan="3">
            东方证券资管林鹏管理的东方红睿华沪港深混合、东方红沪港深混合以67.91%和66.70%的年度收益率排名包揽冠亚军； 易方达基金萧楠管理的易方达消费行业股票以64.97%的收益率获得年度季军。
          </mat-card-content>
        </tr>
      </table>
    </mat-card>
  </mat-tab>
</mat-tab-group>