<h1 class="llc-personal-info-tt col-12">人员信息列表</h1>
<div class="llc-personal-info-ctrl col-12">
  <button class="llc-btn">正序</button>
  <button class="llc-btn">倒序</button>
  <button class="llc-btn">随机</button>
  <button class="llc-btn">新增学生</button>
</div>
<ul class="llc-student-list col-12">
  <li class="col-3">
    <div class="llc-student-list-id">
      序号：
    </div>
    <div class="llc-student-list-name">
      姓名：
    </div>
    <div class="llc-student-list-name">
      性别：
    </div>
    <div class="llc-student-list-git">
      邮箱：
    </div>
    <div class="llc-student-list-sex">
      电话：
    </div>
    <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>
  <li class="col-3">
    <div class="llc-student-list-id">
      序号：
    </div>
    <div class="llc-student-list-name">
      姓名：
    </div>
    <div class="llc-student-list-name">
      性别：
    </div>
    <div class="llc-student-list-git">
      邮箱：
    </div>
    <div class="llc-student-list-sex">
      电话：
    </div>
    <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>
  <li class="col-3">
    <div class="llc-student-list-id">
      序号：
    </div>
    <div class="llc-student-list-name">
      姓名：
    </div>
    <div class="llc-student-list-name">
      性别：
    </div>
    <div class="llc-student-list-git">
      邮箱：
    </div>
    <div class="llc-student-list-sex">
      电话：
    </div>
    <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>
  <li class="col-3">
    <div class="llc-student-list-id">
      序号：
    </div>
    <div class="llc-student-list-name">
      姓名：
    </div>
    <div class="llc-student-list-name">
      性别：
    </div>
    <div class="llc-student-list-git">
      邮箱：
    </div>
    <div class="llc-student-list-sex">
      电话：
    </div>
    <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>
  <li class="col-3">
    <div class="llc-student-list-id">
      序号：
    </div>
    <div class="llc-student-list-name">
      姓名：
    </div>
    <div class="llc-student-list-name">
      性别：
    </div>
    <div class="llc-student-list-git">
      邮箱：
    </div>
    <div class="llc-student-list-sex">
      电话：
    </div>
    <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>
</ul>
