<div>
    <h1>公交管理</h1>
    <div class="studentContent">

        <!-- <nav mat-tab-nav-bar>
            <a mat-tab-link active="true">
                    公交列表
                    </a>
            <a mat-tab-link routerLink="analysis">
                    统计分析
                    </a>
        </nav> -->
        <div class="tabMenu">

            <div class="mat-table-controls">
                <mat-select placeholder="搜索范围" [(ngModel)]="searchType" name="searchType">
                    <mat-option value="name">名称</mat-option>
                    <mat-option value="id">编号</mat-option>
                </mat-select>
                <mat-input-container>
                    <input [(ngModel)]="searchText" matInput placeholder="请输入要搜索的内容">
                </mat-input-container>
                <button style="float:right;" color="light" mat-mini-fab (click)="refresh()"><mat-icon>sync</mat-icon></button>
                <button style="float:right;" color="light" mat-mini-fab (click)="search(searchType,searchText)"><mat-icon>search</mat-icon></button>

            </div>

            <!-- <a mat-raised-button routerLink="edit/new">新增宝贝</a> -->
            <button class="addBtn" mat-raised-button (click)="addNewUser()"><mat-icon>add</mat-icon>
                新增公交</button>
            <button class="sortBtn" mat-raised-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>排序方式
                            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="mat-menu-item" (click)="sortUsers('asc')">
                                <span>正序</span>
                            </button>
                <button mat-menu-item (click)="sortUsers('desc')">
                                <span>倒序</span>
                            </button>
                <button mat-menu-item (click)="sortUsers('random')">
                                <span>随机</span>
                            </button>
            </mat-menu>
        </div>

        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>发车次数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bus of buses">
                    <td>{{bus.objectId}}</td>
                    <!-- <td><img src="{{student.img}}" /></td> -->
                    <td>{{bus.name}}</td>
                    <td>{{bus.count}}</td>
                    <!-- <td>{{student.price | studentCurrency:"cn"}}</td> -->
                    <!-- <td><span *ngIf="student.addTime">{{student.addTime.iso | date:"y-MM-dd"}}</span></td> -->
                    <td>
                        <!-- <mat-icon title="修改" (click)=showEditAssetDailog(bus)>edit</mat-icon> 
                        <mat-icon title="修改" routerLink="edit/{{bus.objectId}}">edit</mat-icon>  -->
                        <mat-icon title="查看" routerLink="view/{{bus.objectId}}">menu</mat-icon> 
                        <mat-icon title="删除" (click)="deleteUserByID(bus.objectId)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>