<h1>公交车发车次数统计列表{{100|count}}</h1>

<button appActButton class="llc-btn" (click)="sortbuss('asc')">正序</button>
<button appActButton class="llc-btn" (click)="sortbuss('desc')" >倒序</button>
<button appActButton class="llc-btn" (click)="sortbuss('random')">随机</button>
<button appActButton class="llc-btn" (click)="addNewbus()">新增公交线路</button>

<div>
<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515146846&di=e41e0e63546382a9cd949f86c8132ecd&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F80cb39dbb6fd526604c2f7e7a118972bd507365c.jpg" width="700" height="500"/>
</div>