<p>
  工程管理系统
</p>
<div>
  <button mat-raised-button (click)="engineeringsMasterService.addData()">追加</button>
  <button mat-raised-button (click)="engineeringsMasterService.delData()">删除</button>
</div>

<div id="div-1" class="div-fa" style="margin-top:15px">
  <div id="div-2">
    <tr>
      <td>
        <span class="itemStyle">选择</span>
      </td>
      <td>
        <span class="itemStyle">序号</span>
      </td>
      <td>
        <span class="itemStyle">施工地点</span>
      </td>
      <td>
        <span class="itemStyle">开始日</span>
      </td>
      <td>
        <span class="itemStyle">结束日</span>
      </td>
      <td>
        <span class="itemStyle">实施天数</span>
      </td>
      <td>
        <span class="itemStyle">施工责任人</span>
      </td>
      <td>
        <span class="itemStyle">状态</span>
      </td>
      <td>
        <span class="itemStyle">详细</span>
      </td>
    </tr>
  </div>
  <div id="div-3">
    <tr *ngFor="let item of engineeringsMasterService.engineerings;let i=index">
      <td>
        <section class="example-section">
          <mat-checkbox>{{item.check}}</mat-checkbox>
        </section>
      </td>
      <td>
        <span class="itemStyle">{{item.no}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.address}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.startDate}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.endDate}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.endDate}}-{{item.startDate}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.personLiable}}</span>
      </td>
      <td>
        <span class="itemStyle">{{item.status}}</span>
      </td>
      <td>
        <button class="itemStyle">详细</button>
      </td>
    </tr>
  </div>
  <div>
    <app-engineering-btn></app-engineering-btn>
  </div>
</div>