<h1>考勤管理</h1>
<table>
    <tr>
    <mat-select placeholder="搜索范围" [(ngModel)]="searchType" name="searchType">
        <mat-option value="name">名称</mat-option>
        <mat-option value="ymd">日期</mat-option>
    </mat-select>
  </tr>
  <tr>
    <td>	
        <mat-form-field class="example-full-width">
            <textarea [(ngModel)]="searchText" matInput placeholder="姓名" ></textarea>
        </mat-form-field>
    </td>
    <td>
      <td>
    <button style="float:right;" color="light" mat-mini-fab (click)="kqglServ.search(searchType,searchText)"><mat-icon>search</mat-icon></button>
  </td> <td>
    <button style="float:right;" color="light" mat-mini-fab (click)="kqglServ.refresh()"><mat-icon>sync</mat-icon></button>
  </td>
  </tr>

</table>

<mat-tab-group class="demo-tab-group">
    <mat-tab label="检索结果">
      <div class="demo-tab-content">

        <div class="but">
            <button mat-raised-button color="primary" (click)="kqglServ.sortUsers('asc')">正序</button>
            <button mat-raised-button color="primary" (click)="kqglServ.sortUsers('desc')" >倒序</button>
            <button mat-raised-button color="primary" (click)="kqglServ.sortUsers('random')">随机</button>
            <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>新增用户</button>
        </div>
          <table class="gridtable" border="1" cellspacing="0" cellpadding="0">
              <tr>
                
                <th>编号</th>
                <th>姓名</th>
                <th>出勤状况</th>
                <th>日期</th>
                <th>打卡时间</th>
                <th>操作</th>  </tr>
              <tr *ngFor="let user of kqglServ.users">
            
              <td >
                {{user.objectId}}
              </td>
              <td >
            
                {{user.name}}
              </td>
              <td >
            
                {{user.cq | toCqzk}}
              </td>
              <td >
            
                {{user.qq}}
              </td>
              <td >
            
                  {{user.cq=='1'?user.dksj:'Na'}}
                </td>
              <td>
                  <mat-icon title="查看" routerLink="/kqgl/{{user.objectId}}">menu</mat-icon>
                  <mat-icon title="编辑" (click)="openDialog(user)">update</mat-icon>
                  <mat-icon title="删除" (click)="kqglServ.deleteUserByID(user.objectId)">delete</mat-icon>
                
              </td>
            </tr>
          </table>
      </div>
    </mat-tab>
    <mat-tab label="图表表示">
      
      <div class="demo-tab-content">
          <div #studentChart (window:resize)="loadNewChartData()" style="width: 600px;height:400px;"></div>
      </div>  
    </mat-tab>
    
  </mat-tab-group>



