
.example-form {
    min-width: 150px;
    max-width: 250px;
    width: 50%;
  }
  
  .example-full-width {
    width: 50%;
  }
  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .search-tab {
    margin: 0px 10px;
  }