<em><h1>博雅书坊</h1></em>

<button  mat-raised-button color="primary" (click)="bookServ.sortBooks('asc')">正序</button>
<button mat-raised-button color="accent" (click)="bookServ.sortBooks('desc')" >倒序</button>
<button  mat-raised-button color="accent" (click)="bookServ.addNewBook()">新增图书</button>
<table cellspacing="0" cellpadding="0">
  <thead>
      <tr>
          <th>编号</th>
          <th>书名</th>
          <th>作者</th>
          <th>出版日期</th>
          <th>销量</th>
          <th>操作</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let book of bookServ.books">
          <td>{{book.objectId}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.date}}</td>
          <td>{{book.sale}}</td>
          <td>
              <mat-icon title="详情" routerLink="/bookmanage/{{book.objectId}}">menu</mat-icon>
              <mat-icon title="删除" (click)="bookServ.deleteBookByID(book.objectId)">delete</mat-icon>
          </td>
      </tr>
  </tbody>
</table>