td {
    border:1px;
    color: gray;
    border-style:solid;
    padding: 5px;
}

.header {
    background-color: #9933cc;
    border:1px;
    color: green;
    border-style:solid;
    padding: 5px;
}
