<h1>考勤明细</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>姓名：{{user.name}}</mat-card-title>
    <mat-card-subtitle>日期: {{user.qq}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>
          出勤状况：{{user.cq | toCqzk}}
      </p>
      
    <p>
        打卡时间：{{user.cq=='1'?user.dksj:'Na'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>