<h1 class="hone">电影票系统：</h1>

<div >

    <button class="button-style" appActButton (click)="sortcinemas('asc')">正序</button>

    <button class="button-style" (click)="sortcinemas('desc')" >倒序</button>

    <button class="button-style" (click)="sortcinemas('random')">随机</button>

    <!-- <button (click)="addNewCinema()">新增商品</button> -->

</div>

<hr>

<ul>



<p>电影详情：</p>

<div class="stype1">

    <li *ngFor="let cinema of cinemas">  
        <span (click)="deleteCinemaByID(cinema.id)">    
        <div class="shanchu">[删除]</div>
      </span>
         ID:{{cinema.id}}  电影名称：{{cinema.name}}  票数：{{cinema.ticketcounts |tok}}
    </li>
    </div>
  </ul>
  <hr>