.stype1 {
    font-size:15px;

    font-style:italic;
    box-shadow: 10px 10px grey;
    list-style-type: none
}

.button-style {
    background-color:rgb(0, 225, 255)
}

.hone {
    text-shadow: 5px 5px 5px #FF0000;
}
.shanchu {
    animation: myfirst 5s;
    -webkit-animation: myfirst 5s;

}
@keyframes myfirst
{
	from {background:red;}
	to {background:yellow;}
}

@-webkit-keyframes myfirst
{
	from {background:red;}
	to {background:yellow;}
}

.studentContent{margin: 0px 10px;}

table{width:100%;background-color: #f9f5f5;margin-bottom: 10px;}
thead tr{font-weight: bold;}
td,th{border:1px solid rgba(198, 183, 183, 0.75);padding: 10px;}