<h1 class="hone">电影票系统[{{cinemaServ.cinemas?cinemaServ.cinemas.length:0}}]：</h1>
<div >
    <button class="button-style" (click)="cinemaServ.addNewCinema()">增加</button>
    <button class="button-style" appActButton (click)="cinemaServ.sortcinemas('asc')">正序</button>
    <button class="button-style" (click)="cinemaServ.sortcinemas('desc')" >倒序</button>
    <button class="button-style" (click)="cinemaServ.sortcinemas('random')">随机</button>
</div>
<hr>
<div class="studentContent">
<!-- <div class="stype1">
    <li *ngFor="let cinema of cinemaServ.cinemas">  
        <span (click)="cinemaServ.deleteCinemaByName(cinema.objectId)">    
        <div class="shanchu">[删除]</div>
      </span>
         ID:{{cinema.objectId}}  电影名称：{{cinema.name}}  票数：{{cinema.counts |tok}}
    </li>
    </div> -->
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>编号</th>
                <!-- <th>宝贝图片</th> -->
                <th>电影名</th>
                <th>票数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cinema of cinemaServ.cinemas">
                    <td>{{cinema.objectId}}</td>
                    <td>{{cinema.name}}</td>
                    <td>{{cinema.counts}}</td>
                    <mat-icon title="查看" routerLink="/cinematicket/{{cinema.objectId}}">menu</mat-icon>
                    <mat-icon title="删除" (click)="cinemaServ.deleteCinemaId(cinema.objectId)">delete</mat-icon>
            </tr>
        </tbody>
    </table>

</div>