<h1 appItalic>商品列表</h1>
<!--<div>
<h1>已选择的用户</h1>
<app-student-item [user]="selectedUser"></app-student-item>
</div>  -->
<!--<button appActButton class="llc-btn" (click)="sortGoods('asc')">正序</button> -->
<button class="llc-btn" (click)="sortGoods('asc')">正序</button>
<button  class="llc-btn" (click)="sortGoods('desc')" >倒序</button>
<button  class="llc-btn" (click)="sortGoods('random')">随机</button>
<button  class="llc-btn" (click)="addGoods()">新商品登陆</button>

<!--<ul class="llc-student-list">
   <li *ngFor="let goods of goodsList" class="col-3">
    <div class="llc-student-list-id">
      商品番号:{{goods.goodsNo}}
    </div>
    <div class="llc-student-list-name">
      商品名称：{{goods.goodsNm}}
    </div>
    <div class="llc-student-list-git">
      贩卖类型：{{goods.saleType | tpFilter}}
    </div>
    <div class="llc-student-list-sex">
      制造商：{{goods.maker}}
    </div>
    <div class="llc-student-list-sex">
      在库数量：{{goods.wsCnt}}
    </div>-->
    <!-- <div class="tar">
      <span class="llc-student-list-del">x</span>
    </div>
  </li>

  <app-ws-good-list-item [goods]="goods" *ngFor="let goods of goodsList"></app-ws-good-list-item>  　

</ul>-->

<table cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>商品番号</th>
            <th>商品名称</th>
            <th>贩卖类型</th>
            <th>制造商</th>
            <th>在库数量</th> 
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let goods of goodsList">
            <td>{{goods.goodsNo}}</td>
            <!-- <td><img src="{{student.img}}" /></td> -->
            <td>{{goods.goodsNm}}</td>
            <td>{{goods.saleType | tpFilter}}</td>
            <td>{{goods.maker}}</td>
            <td>{{goods.wsCnt}}</td>
            <!-- <td><span *ngIf="student.addTime">{{student.addTime.iso | date:"y-MM-dd"}}</span></td> -->
            <td>
                <!-- <mat-icon title="修改" (click)=showEditAssetDailog(student)>edit</mat-icon> -->
                <!-- <mat-icon title="修改" routerLink="edit/{{student.objectId}}">edit</mat-icon> -->
                <!-- <mat-icon title="查看" routerLink="view/{{student.objectId}}">menu</mat-icon> -->
                <span (click)="deleteGoods(goods.objectId)" >[删除]</span>
            </td>
        </tr>
    </tbody>
</table>