<h1>学员管理[{{studentServ.users?studentServ.users.length:0}}]</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>Github: {{user.github}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{user.img}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      库存数：{{user.goods|toK}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>