<div>
  <h1>学员管理[{{studentServ.users?studentServ.users.length:0}}]</h1>
  <div class="studentContent">

      <nav mat-tab-nav-bar>
          <a mat-tab-link active="true">
                  学员列表
                  </a>
          <a mat-tab-link routerLink="analysis">
                  统计分析
               </a>
      </nav>
      <div class="tabMenu">

          <div class="mat-table-controls">
              <mat-select placeholder="搜索范围" [(ngModel)]="searchType" name="searchType">
                  <mat-option value="name">名称</mat-option>
                  <mat-option value="classification">分类</mat-option>
              </mat-select>
              <mat-input-container>
                  <input [(ngModel)]="searchText" matInput placeholder="请输入要搜索的内容">
              </mat-input-container>
              <button style="float:right;" color="light" mat-mini-fab (click)="refresh()"><mat-icon>sync</mat-icon></button>
              <button style="float:right;" color="light" mat-mini-fab (click)="search(searchType,searchText)"><mat-icon>search</mat-icon></button>

          </div>

          <button class="addBtn" mat-raised-button (click)="openDialog()"><mat-icon>add</mat-icon>
              新增用户</button>
          <button class="sortBtn" mat-raised-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>排序方式
                        </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item class="mat-menu-item" (click)="studentServ.sortUsers('asc')">
                            <span>正序</span>
                          </button>
              <button mat-menu-item (click)="studentServ.sortUsers('desc')">
                            <span>倒序</span>
                          </button>
              <button mat-menu-item (click)="studentServ.sortUsers('random')">
                            <span>随机</span>
                          </button>
          </mat-menu>
      </div>

      <table cellspacing="0" cellpadding="0">
          <thead>
              <tr>
                  <th>编号</th>
                  <!-- <th>宝贝图片</th> -->
                  <th>姓名</th>
                  <th>github</th>
                  <th>性别</th>
                  <th>Exam1</th>
                  <th>Exam2</th>
                  <th>Exam3</th>
                  <th>Exam4</th>
                  <!-- <th>价格</th> -->
                  <!-- <th>入手时间</th> -->
                  <th>操作</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let student of studentServ.users">
                  <td>{{student.objectId}}</td>
                  <!-- <td><img src="{{student.img}}" /></td> -->
                  <td>{{student.name}}</td>
                  <td>{{student.github}}</td>
                  <td>{{student.sex}}</td>
                  <td>{{student.exam1}}</td>
                  <td>{{student.exam2}}</td>
                  <td>{{student.exam3}}</td>
                  <td>{{student.exam4}}</td>
                  <!-- <td>{{student.price | studentCurrency:"cn"}}</td> -->
                  <!-- <td><span *ngIf="student.addTime">{{student.addTime.iso | date:"y-MM-dd"}}</span></td> -->
                  <td>
                      <!-- <mat-icon title="修改" (click)=showEditAssetDailog(student)>edit</mat-icon> -->
                      <mat-icon title="编辑" (click)="openDialog(student)">修改</mat-icon>
                      <mat-icon title="查看" routerLink="/student/{{student.objectId}}">menu</mat-icon>
                      <mat-icon title="删除" (click)="studentServ.deleteUserByID(student.objectId)">delete</mat-icon>
                  </td>
              </tr>
          </tbody>
      </table>

  </div>
</div>