.example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://dimg07.c-ctrip.com/images/fd/tg/g4/M04/4F/71/CggYHFXEI1SAZQNgAADWzdQGQx4356_C_1600_1200_Mtg_7.jpg');
    background-size: cover;
  }