// // .addBtn{float: left;margin-bottom: 15px;}
// .sortBtn,.addBtn{float: right;margin:15px 0px 20px 10px;}
// .studentContent{margin: 0px 10px;}
// h1{margin-left: 10px;}
// table{width:100%;background-color: #f9f5f5;margin-bottom: 10px;}
// thead tr{font-weight: bold;}
// td,th{border:1px solid rgba(198, 183, 183, 0.75);padding: 10px;}
// .center{text-align: center;}
// th{background-color: #00bcd4;text-align: center;}
// td{text-align: center;}
// table img{width: 80px;height: 80px;}
// mat-icon{cursor: pointer;margin: 0px 5px}
// .mat-menu-item{background-color:#fbfbfb;}
// .mat-menu-item:hover{background-color: #dedbdb;}
// .example-button-row {display: flex;align-items: center;justify-content: space-around;}
// .mat-table-controls{float: left;margin-left: 10px;margin-top: 5px;}
// .tabMenu{margin: 10px 0px;}
// .mat-table-controls mat-input-container{width: 400px;}
// .mat-table-controls button{margin-right: 5px;}

.tabBtn {
    color: rgb(51, 50, 50);
    font-family:Arial;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
}

.col-1 {width: 9%;height: 5px;}
.col-2 {width: 16.66%;}
.col-3 {width: 14%;height: 5px;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.div{
	border:2px solid black;
	padding:10px 40px; 
	background:#dddddd;
	width:300px;
	border-radius:50px;
}