.item-list {
    display: flex;
    flex-flow: row wrap;
  }
.inv-button {
  border-radius:10px;
  border-width: 0px;
  cursor:pointer;
}
.mat-icon{
  cursor:pointer;
}
.tar{
  text-align: right;
}
li {
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  list-style: none;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
}

li:hover {
  background-color: #B3E5FC;
}

.item-list-del {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #F44336;
  border-radius: 30px;
  font-size: 10px;
  font-weight: bold;
  font-family:  Helvetica, Arial, sans-serif;
}

.item-list-id {
  font-weight: bold;
}

.item-list-id,
.item-list-code,
.item-list-code,
.item-list-description,
.item-list-count {
  margin-bottom: 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}