<h1>物料清单列表</h1>
<button mat-raised-button color="primary" class="inv-button" (click)="itemtServ.sortItems('asc')">正序</button>
<button mat-raised-button color="primary" class="inv-button" (click)="itemtServ.sortItems('desc')" >倒序</button>
<button mat-raised-button color="primary" class="inv-button" (click)="itemtServ.sortItems('random')">随机</button>
<button mat-raised-button color="primary" class="inv-button" (click)="itemtServ.addNewItem()">新增物料</button>
<mat-tab-group class="col-9">
    <mat-tab label="总览">
        <ul >
            <li  *ngFor="let item of itemtServ.items">
            <div class="item-list-id">
                    ID：{{item.objectId}}
                  </div>
                  <div class="item-list-code">
                    编码：{{item.code}}
                  </div>
                  <div class="item-list-uom">
                    单位：{{item.uom}}
                  </div>
                  <div class="item-list-description">
                    描述：{{item.description}}
                  </div>
                  <div class="item-list-count">
                    库存：{{item.count | invTok}}
                  </div>
                  <div class="tar" (click)='itemtServ.deleteItemByID(item.objectId)'>
                    <span class="item-list-del">x</span>
            </div>
            </li>
            </ul>
    </mat-tab>
    <mat-tab label="详细">
        <div class="example-container mat-elevation-z8">
           
          </div>
    </mat-tab>
  </mat-tab-group>







