ul li span {
    color: red;
}

ul li {
    color: blue;
}

.addBtn{float: right;margin:15px 0px 20px 10px;}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.productImg-wrap
{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

table{width:100%;background-color: #f9f5f5;margin-bottom: 10px;}
tr{font-weight: bold;}
td{border:1px solid rgba(198, 183, 183, 0.75);padding: 10px;}
.center{text-align: center;}
table img{width: 80px;height: 80px;}