<h1>商品列表</h1>
<button class="button button2" (click)="sortUsers('asc')">正序</button>
<button class="button button2" (click)="sortUsers('desc')">倒序</button>
<button class="button button2" (click)="sortUsers('random')">随机</button>
<button class="button button2" (click)="addNewUser()">新增商品</button>
<ul>
  <li *ngFor="let user of users">
    <span (click)="deleteUserByID(user.id)">[删除]</span>
    GOODSID:{{user.id}}，商品名：{{user.name}}，英文名：{{user.github}}，价格：{{user.sex}}
  </li>


  <div class="productImg-wrap">
    <a href="//detail.tmall.com/item.htm?id=25416628792&amp;skuId=4611686043844016696&amp;user_id=725677994&amp;cat_id=2&amp;is_b=1&amp;rn=a77022c5ed7461740788b14e50f9e029"
      class="productImg" target="_blank" data-p="12-10" atpanel="12-10,25416628792,50008144,,spu,1,spu,725677994,,,">
      <img src="//img.alicdn.com/bao/uploaded/i4/TB1gu4vKFXXXXXYXpXXXXXXXXXX_!!0-item_pic.jpg_b.jpg">
    </a>
  </div>
  <p class="productPrice">
    <em title="1199.00">
      <b>¥</b>1199.00</em>
  </p>
  <p class="productTitle">
    <a href="//detail.tmall.com/item.htm?id=25416628792&amp;skuId=4611686043844016696&amp;user_id=725677994&amp;cat_id=2&amp;is_b=1&amp;rn=a77022c5ed7461740788b14e50f9e029"
      target="_blank" title="五粮液普五水晶装52度500ml水晶瓶猫超直采高度白酒" data-p="12-11" atpanel="12-11,25416628792,50008144,,spu,1,spu,725677994,,,">
      <span class="H">五粮液</span>普五水晶装52度500ml水晶瓶猫超直采高度白酒
    </a>
  </p>

  <div class="productImg-wrap">
    <a href="//detail.tmall.com/item.htm?id=562169059358&amp;skuId=4611686580596447262&amp;user_id=3532929347&amp;cat_id=2&amp;is_b=1&amp;rn=763dd808c47cf508e75ebfa196b1e1d3"
      class="productImg" target="_blank" data-p="29-10" atpanel="29-10,562169059358,50008144,,spu,1,spu,3532929347,,,">
      <img src="//img.alicdn.com/bao/uploaded/i3/3532929347/TB2qGlPfx6I8KJjSszfXXaZVXXa_!!3532929347.jpg_b.jpg">
    </a>
  </div>
  <p class="productPrice">
    <em title="1798.00">
      <b>¥</b>1798.00</em>
  </p>
  <p class="productTitle">
    <a href="//detail.tmall.com/item.htm?id=562169059358&amp;skuId=4611686580596447262&amp;user_id=3532929347&amp;cat_id=2&amp;is_b=1&amp;rn=763dd808c47cf508e75ebfa196b1e1d3"
      target="_blank" title="53度茅台飞天500ml中国贵州名酒高度酱香型商务宴请礼品酒 包邮" data-p="29-11" atpanel="29-11,562169059358,50008144,,spu,1,spu,3532929347,,,">
      53度
      <span class="H">茅台</span>飞天500ml中国贵州名酒高度酱香型商务宴请礼品酒 包邮
    </a>
  </p>

  <div class="productImg-wrap">
    <a href="//detail.tmall.com/item.htm?id=36901154399&amp;skuId=4611686055328542303&amp;user_id=1579528508&amp;cat_id=55070024&amp;is_b=1&amp;rn=ea6683cefa1ec8f785b5dc7435eb3c2b"
      class="productImg" target="_blank" data-p="17-10" atpanel="17-10,36901154399,50016772,,spu,1,spu,1579528508,,,">
      <img src="//img.alicdn.com/bao/uploaded/i1/1579528508/TB28gDFmWigSKJjSsppXXabnpXa_!!1579528508.jpg_b.jpg">
    </a>
  </div>
  <p class="productPrice">
    <em title="10899.00">
      <b>¥</b>10899.00</em>
  </p>
  <p class="productTitle">
    <a href="//detail.tmall.com/item.htm?id=36901154399&amp;skuId=4611686055328542303&amp;user_id=1579528508&amp;cat_id=55070024&amp;is_b=1&amp;rn=ea6683cefa1ec8f785b5dc7435eb3c2b"
      target="_blank" title="獐子岛海参 大连淡干海参 大连海参干货礼盒装 辽参刺参 畅享500g" data-p="17-11" atpanel="17-11,36901154399,50016772,,spu,1,spu,1579528508,,,">
      <span class="H">獐子岛</span>
      <span class="H">海参</span> 大连淡干
      <span class="H">海参</span> 大连
      <span class="H">海参</span>干货礼盒装 辽参刺参 畅享500g
    </a>
  </p>

</ul>