
h1{
    text-align: center;
    color: rgb(0, 174, 255);
    
}
h2{
    
    color: rgb(0, 174, 255);
    
}

ul li span {
    color: rgb(0, 153, 255);
}

ul li {
    color: rgb(0, 89, 255);
}

.button {
    background-color: rgb(76, 168, 175); /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}
.ll {
    background-color: rgb(76, 139, 175); /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
   
}
.kk {
   width:10px; 
}
.lj{
    color:  rgb(76, 116, 175); /* Green */
 }

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 
    rgba(0, 0, 0, 0.24);
}

.productImg-wrap
{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    
}
th,td,.market-index {
    text-align: center;
}