<h1>天气详细信息</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{weatherData.imageURL}}</mat-card-title>
    <mat-card-subtitle>weatheaData: {{weatherData.weekInfo}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1514713784970&di=1f4fe4c129ad6e80a553038ed7f8a888&imgtype=0&src=http%3A%2F%2Fwww.uimaker.com%2Fuploads%2Fallimg%2F120711%2F1_120711020837_1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      详细：{{weatherData.temperature | weather}}
    </p>
  </mat-card-content>
</mat-card>